<h2>All Movies Available for Purchase</h2> 
<mat-form-field>
    <input [(ngModel)]="filterTerm" placeholder="Filter movies by name..."/>
</mat-form-field>
<div class="filter-header" *ngIf="filterTerm?.length > 0">Filtering movies by name: {{ filterTerm }}</div>
<div class="container">
    <div class="list-container">
    <div class="cards-container" layout-wrap layout="row">
      <mat-card flex="30" *ngFor="let movie of movies| filter:filterTerm; let idx = index" class="movie-card">
        <app-movie [movie]="movie"></app-movie>
        <button mat-button color="primary" (click)="purchase(movie, idx)">Purchase <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </button>
      </mat-card>
      </div>
    </div>
  </div>


